Repository disgoorg/disgo, pull requests merged in 2021-11, with the labels that each got.

#99 add support for min/max values
  discord/application_command_option.go
  discord/optional_types.go
Labels: semvor:minor, type:enhancement

#105 add InstallationParams to Application
  discord/application.go
Labels: type:enhancement

#110 guild scheduled events
  README.md
  _examples/guild_scheduled_events/example.go
  _examples/guild_scheduled_events/go.mod
  _examples/guild_scheduled_events/go.sum
  _examples/threads/example.go
  core/cache_flags.go
  core/cache_guild_scheduled_events.go
  core/caches.go
  core/entity_builder.go
  core/events/events_guild_scheduled_events.go
  core/events/listener_adapter.go
  core/guild.go
  core/guild_scheduled_event.go
  core/handlers/all_handlers.go
  core/handlers/gateway_handler_guild_create.go
  core/handlers/gateway_handler_guild_scheduled_event_create.go
  core/handlers/gateway_handler_guild_scheduled_event_delete.go
  core/handlers/gateway_handler_guild_scheduled_event_update.go
  core/handlers/gateway_handler_guild_scheduled_event_user_add.go
  core/handlers/gateway_handler_guild_scheduled_event_user_remove.go
  discord/gateway.go
  discord/gateway_event_type.go
  discord/gateway_intents.go
  discord/guild.go
  discord/guild_scheduled_event.go
  gateway/gateway_impl.go
  gateway/sharding/shard_manager_impl.go
  internal/merrors/errors.go
  rest/guild_scheduled_event_service.go
  rest/rest_services.go
  rest/route/route_endpoints.go
  rest/stage_instance_service.go
Labels: type:enhancement, s:unverified
