Repository disgoorg/disgo, pull requests merged in 2021-08, with the labels that each got.

#59 added GuildBanEvent & GuildUnbanEvent handler & some pointer receivers
  internal/handlers/application_command_delete.go
  internal/handlers/application_command_update.go
  internal/handlers/channel_create_handler.go
  internal/handlers/channel_update_handler.go
  internal/handlers/guild_ban_add_handler.go
  internal/handlers/guild_ban_remove_handler.go
  internal/handlers/interaction_create_handler.go
  internal/handlers/interaction_create_webhook_handler.go
Labels: semver:patch, type:enhancement

#58 Add message collectors
  api/event_manager.go
  api/util/message_collector.go
  example/examplebot.go
  internal/event_manager_impl.go
Labels: semvor:minor, type:enhancement

#72 ratelimiter implementation
  core/action_row.go
  core/button.go
  core/disgo.go
  core/disgo_builder.go
  core/disgo_builder_impl.go
  core/disgo_impl.go
  core/embed_builder.go
  core/entity_builder.go
  core/entity_builder_impl.go
  core/guild.go
  core/info.go
  core/invite.go
  core/select_menu.go
  core/select_menu_interactin.go
  core/user.go
  discord/action_row.go
  discord/application_command.go
  discord/application_command_permission.go
  discord/component.go
  discord/embed.go
  discord/message.go
  disgo.go
  go.sum
  oauth2/README.md
  oauth2/oauth2.go
  rest/http_client.go
  rest/rate/rate_limiter.go
  rest/rate/rate_limiter_impl.go
  rest/route/api_route.go
  rest/route/cdn_route.go
  rest/route/custom_route.go
  rest/route/endpoints.go
  rest/route/methods.go
  rest/route/route.go
  rest/route/route_test.go
  rest/services.go
  rest/services_impl.go
  rest/webhook_service.go
  util/util.go
  webhook/README.md
  webhook/entity_builder.go
  webhook/message_create_builder.go
  webhook/message_update_builder.go
  webhook/webhook.go
  webhook/webhook_client.go
  webhook/webhook_client_impl.go
Labels: t:ratelimits, type:enhancement
