Repository disgoorg/disgo, pull requests merged in 2021-06, with the labels that each got.

#39 timestamp implementation
  api/timestamp.go
Labels: s:unverified, semver:patch, type:enhancement

#41 fixed nil-pointer on isOwner
  api/member.go
Labels: type:bugfix

#43 Guild Templates
  api/disgo.go
  api/entity_builder.go
  api/guild.go
  api/guild_template.go
  api/restclient.go
  go.mod
  go.sum
  internal/disgo_impl.go
  internal/entity_builder_impl.go
  internal/restclient_impl.go
  internal/util.go
Labels: semvor:minor, type:enhancement
