Repository disgoorg/disgo, pull requests merged in 2022-08, with the labels that each got.

#180 rework rest & cdn endpoint handling
  discord/application.go
  discord/asset.go
  discord/cdn_endpoints.go
  discord/emoji.go
  discord/guild.go
  discord/invite.go
  discord/member.go
  discord/role.go
  discord/sticker.go
  discord/url.go
  discord/user.go
  discord/webhook.go
  oauth2/client_impl.go
  rest/applications.go
  rest/auto_moderation.go
  rest/channels.go
  rest/emojis.go
  rest/gateway.go
  rest/guild_scheduled_events.go
  rest/guild_templates.go
  rest/guilds.go
  rest/interactions.go
  rest/invites.go
  rest/members.go
  rest/oauth2.go
  rest/rest_client.go
  rest/rest_endpoints.go
  rest/rest_rate_limiter.go
  rest/rest_rate_limiter_impl.go
  rest/route/api_route.go
  rest/route/cdn_route.go
  rest/route/errors.go
  rest/route/route.go
  rest/route/route_const.go
  rest/route/route_endpoints.go
  rest/route/route_test.go
  rest/stage_instances.go
  rest/stickers.go
  rest/threads.go
  rest/users.go
  rest/voice.go
  rest/webhooks.go
  webhook/webhook_client_impl.go
Labels: type:enhancement, t:rest

#139 initial forum channel support
  cache/channel_cache.go
  discord/channel.go
  discord/channel_create.go
  discord/channel_update.go
  discord/channels_raw.go
  discord/thread.go
  handlers/message_handler.go
  rest/threads.go
Labels: type:enhancement

#184 remove CustomID
  _examples/test/listeners.go
  discord/component.go
  discord/interaction_component.go
  discord/interaction_modal_submit.go
  discord/message.go
  discord/modal_create.go
Labels: breaking

#185 add CreatedAt() to most entities and improve type consistency of stored timestaps
  discord/activity.go
  discord/application.go
  discord/application_command.go
  discord/attachment.go
  discord/auto_moderation.go
  discord/channel.go
  discord/emoji.go
  discord/guild.go
  discord/guild_scheduled_event.go
  discord/integration.go
  discord/interaction_base.go
  discord/interaction_ping.go
  discord/member.go
  discord/role.go
  discord/stage_instance.go
  discord/sticker.go
  discord/user.go
  discord/webhook.go
Labels: type:enhancement, s:proposal

#194 add support for slash command mentions
  discord/application_command.go
  discord/mentionable.go
Labels: type:enhancement

#190 add Scopes to BotIntegration
  discord/integration.go
Labels: type:enhancement

#195 replace DeleteMessageDays with DeleteMessageSeconds and make AddBan take a Duration
  discord/ban.go
  rest/guilds.go
Labels: breaking

#193 add ApplicationCommands to AuditLog
  discord/audit_log.go
Labels: type:enhancement

#186 implement gateway resume url handling
  gateway/gateway_config.go
  gateway/gateway_events.go
  gateway/gateway_impl.go
Labels: t:gateway, type:enhancement
