Repository disgoorg/disgo, pull requests merged in 2022-09, with the labels that each got.

#199 replace UpdateSelfNick with UpdateCurrentMember
  discord/member.go
  rest/members.go
  rest/rest_endpoints.go
Labels: type:enhancement, breaking, t:rest

#196 improve presence UX
  _examples/test/examplebot.go
  bot/client.go
  gateway/gateway.go
  gateway/gateway_config.go
  gateway/gateway_impl.go
  gateway/gateway_messages.go
Labels: type:enhancement, breaking, type:refactor

#198 payload type consistency fixes
  discord/application_command_create.go
  discord/application_command_update.go
  discord/auto_moderation.go
  discord/channel_update.go
  discord/emoji.go
  discord/guild.go
  discord/guild_scheduled_event.go
  discord/invite.go
  discord/permission_overwrite.go
  discord/role.go
  discord/stage_instance.go
  discord/thread.go
  discord/user.go
  discord/voice_state.go
  discord/webhook.go
  rest/members.go
Labels: type:enhancement, breaking, type:refactor, t:rest

#192 add GuildFeatureInvitesDisabled
  discord/guild.go
Labels: type:enhancement

#183 pagination helpers
  _examples/pagination/examplebot.go
  rest/channels.go
  rest/guild_scheduled_events.go
  rest/guilds.go
  rest/oauth2.go
  rest/page.go
Labels: type:enhancement, t:rest

#197 implement recent forum updates
  discord/channel.go
  discord/channel_update.go
  discord/channels_raw.go
  discord/thread.go
Labels: type:enhancement

#189 add more automod audit log types + fields
  discord/audit_log.go
Labels: type:enhancement
