Repository disgoorg/disgo, pull requests merged in 2022-12, with the labels that each got.

#220 add some missing guild endpoints
  discord/guild.go
  discord/invite.go
  rest/guilds.go
  rest/rest_endpoints.go
Labels: type:enhancement, breaking, t:rest

#216 add DefaultForumLayout
  discord/channel.go
  discord/channel_create.go
  discord/channel_update.go
  discord/channels_raw.go
Labels: type:enhancement

#219 add role connections
  _examples/verified_roles/main.go
  discord/application.go
  discord/application_role_connection_metadata.go
  discord/role.go
  discord/user.go
  oauth2/client.go
  oauth2/client_impl.go
  rest/applications.go
  rest/oauth2.go
  rest/rest_endpoints.go
Labels: type:enhancement

#213 small gateway cleanup
  disgo.go
  gateway/gateway_config.go
  gateway/gateway_impl.go
  gateway/gateway_messages.go
  gateway/gateway_opcodes.go
  gateway/gateway_rate_limiter_impl.go
  sharding/shard_manager_impl.go
Labels: t:gateway, type:refactor

#211 cache refactor
  _examples/custom_cache/example.go
  _examples/guild_scheduled_events/example.go
  _examples/test/examplebot.go
  _examples/threads/example.go
  bot/client.go
  bot/member_chunking_manager.go
  cache/cache.go
  cache/cache_config.go
  cache/cache_policy.go
  cache/caches.go
  cache/channel_cache.go
  cache/grouped_cache.go
  cache/guild_cache.go
  discord/channel.go
  discord/emoji.go
  discord/role.go
  events/dm_channel_events.go
  events/dm_message_event_events.go
  events/guild_auto_moderation_events.go
  events/guild_channel_events.go
  events/guild_integration_events.go
  events/guild_invite_events.go
  events/guild_member_events.go
  events/guild_message_events.go
  events/guild_message_reaction_events.go
  events/guild_scheduled_events_events.go
  events/guild_webhooks_update_events.go
  events/interaction_events.go
  events/listener_adapter.go
  events/message_events.go
  events/user_activity_events.go
  events/user_events.go
  gateway/gateway_events.go
  handlers/channel_handler.go
  handlers/guild_create_handler.go
  handlers/guild_delete_handler.go
  handlers/guild_emojis_update_handler.go
  handlers/guild_handlers.go
  handlers/guild_member_handlers.go
  handlers/guild_role_handlers.go
  handlers/guild_scheduled_event_handlers.go
  handlers/guild_stickers_update_handler.go
  handlers/guild_update_handler.go
  handlers/message_handler.go
  handlers/message_reaction_handler.go
  handlers/stage_instance_handler.go
  handlers/status_handler.go
  handlers/thread_handler.go
  handlers/typing_start_handler.go
  handlers/user_update_handler.go
  handlers/voice_handlers.go
  internal/set/set.go
  rest/emojis.go
  rest/guilds.go
Labels: t:caching, breaking, type:refactor
