Repository disgoorg/disgo, pull requests merged in 2022-07, with the labels that each got.

#171 add MinLength and MaxLength to ApplicationCommandOptionString
  discord/application_command_option.go
Labels: type:enhancement

#169 fix ratelimit retrying on 429 hit
  _examples/webhook/example.go
  rest/rest_client.go
  rest/rest_rate_limiter.go
  rest/rest_rate_limiter_impl.go
Labels: t:ratelimits, type:bugfix

#167 auto moderation
  _examples/auto_moderation/example.go
  discord/auto_moderation.go
  discord/gateway_event_type.go
  discord/gateway_events.go
  discord/gateway_intents.go
  discord/message.go
  events/guild_auto_moderation_events.go
  events/guild_channel_events.go
  events/listener_adapter.go
  handlers/all_handlers.go
  handlers/guild_auto_moderation_action_execution_handler.go
  handlers/guild_auto_moderation_rule_create_handler.go
  handlers/guild_auto_moderation_rule_delete_handler.go
  handlers/guild_auto_moderation_rule_update_handler.go
  rest/auto_moderation.go
  rest/rest.go
  rest/route/route_endpoints.go
Labels: type:enhancement, s:confirmed

#175 Added periods to comment messages
  oauth2/state_controller.go
Labels: type:docs
