Repository disgoorg/disgo, pull requests merged in 2022-05, with the labels that each got.

#149 fix time formatting error with different timezones
  discord/application.go
  discord/channel.go
  discord/channels_raw.go
  discord/embed.go
  discord/embed_builder.go
  discord/gateway_events.go
  discord/guild.go
  discord/guild_scheduled_event.go
  discord/guild_template.go
  discord/invite.go
  discord/member.go
  discord/message.go
  discord/permissions.go
  discord/thread_member.go
  discord/time.go
  discord/time_test.go
  discord/voice_state.go
  events/dm_channel_events.go
  events/guild_channel_events.go
  gateway/handlers/channel_pins_update_handler.go
  rest/threads.go
Labels: type:bugfix

#152 allow setting a custom websocket dialer
  gateway/gateway_config.go
  gateway/gateway_impl.go
Labels: t:gateway, type:enhancement

#154 fix multiple gateway closings happening
  bot/config.go
  gateway/gateway_impl.go
  gateway/grate/gateway_rate_limiter.go
  gateway/grate/gateway_rate_limiter_impl.go
  rest/rest_client.go
  rest/rrate/rest_rate_limiter.go
  rest/rrate/rest_rate_limiter_impl.go
Labels: t:gateway, type:bugfix

#155 allow passing funcs as listeners
  README.md
  _examples/application_commands/gateway/example.go
  _examples/application_commands/http/example.go
  _examples/application_commands/localization/example.go
  _examples/components/example.go
  _examples/message_collector/example.go
  _examples/oauth2/example.go
  _examples/ping_pong/example.go
  bot/client.go
  bot/config.go
  bot/event_manager.go
  bot/event_manager_config.go
Labels: type:enhancement

#156 Fixed link
  README.md
Labels: type:typo

#157 periodically clear expired ratelimit buckets to avoid memory leak
  _examples/application_commands/gateway/example.go
  rest/rest_rate_limiter_config.go
  rest/rest_rate_limiter_impl.go
Labels: t:ratelimits, type:bugfix
