Repository disgoorg/disgo, pull requests merged in 2023-02, with the labels that each got.

#234 add ConnectionTypeInstagram
  discord/connection.go
Labels: type:enhancement

#240 handler improvements
  _examples/handler/example.go
  handler/handler.go
  handler/mux.go
  handler/router.go
Labels: type:enhancement, breaking

#241 simplify oauth2
  _examples/oauth2/example.go
  oauth2/client.go
  oauth2/client_impl.go
  oauth2/config.go
  oauth2/session.go
  oauth2/session_controller.go
Labels: type:enhancement, breaking, t:oauth2

#243 add CustomMessage to AutoModerationActionMetadata
  discord/auto_moderation.go
Labels: type:enhancement
