Repository disgoorg/disgo, pull requests merged in 2023-01, with the labels that each got.

#164 Feature/voice
  .gitignore
  README.md
  _examples/echo/echo.go
  _examples/voice/nico.dca
  _examples/voice/voice.go
  bot/client.go
  bot/config.go
  disgo.go
  gateway/gateway_impl.go
  go.mod
  go.sum
  handlers/voice_handlers.go
  voice/README.md
  voice/audio_receiver.go
  voice/audio_sender.go
  voice/conn.go
  voice/conn_config.go
  voice/gateway.go
  voice/gateway_config.go
  voice/gateway_messages.go
  voice/gateway_opcodes.go
  voice/manager.go
  voice/manager_config.go
  voice/opus.go
  voice/udp_conn.go
  voice/udp_conn_config.go
Labels: t:voice, type:enhancement, breaking

#226 add missing message types
  discord/message.go
Labels: type:enhancement

#224 add GuildConnections to RoleTag
  discord/role.go
Labels: type:enhancement

#228 log unknown events & ops on debug
  gateway/gateway_events.go
  gateway/gateway_impl.go
  gateway/gateway_messages.go
Labels: t:gateway, type:refactor

#227 add after param to audit log endpoints
  rest/guilds.go
  rest/page.go
Labels: type:enhancement, t:rest

#210 add ConnectionTypeTikTok
  discord/connection.go
Labels: type:enhancement

#230 add support for gif stickers
  discord/cdn_endpoints.go
  discord/sticker.go
Labels: type:enhancement

#231 add support for thread member pagination
  discord/thread_member.go
  rest/page.go
  rest/threads.go
Labels: type:enhancement, breaking, t:rest

#233 add MemberFlags
  discord/member.go
Labels: type:enhancement

#222 simple command, autocomplete, component & modals handler
  _examples/handler/example.go
  discord/interaction_application_command.go
  discord/interaction_autocomplete.go
  handler/autocomplete.go
  handler/command.go
  handler/component.go
  handler/handler.go
  handler/middleware.go
  handler/middleware/logger.go
  handler/middleware/print.go
  handler/modal.go
  handler/mux.go
  handler/router.go
Labels: type:enhancement, s:proposal

#235 add flags helper
  cache/cache_flags.go
  discord/activity.go
  discord/application.go
  discord/channel.go
  discord/file.go
  discord/guild.go
  discord/member.go
  discord/message.go
  discord/permissions.go
  discord/user.go
  gateway/gateway_intents.go
  internal/flags/flags.go
Labels: type:enhancement
