Repository disgoorg/disgo, pull requests merged in 2023-03, with the labels that each got.

#248 Added Len func to each XCache interface
  cache/caches.go
Labels: t:caching, type:enhancement

#252 Add ApplicationFlagApplicationAutoModerationRuleCreateBadge
  discord/application.go
Labels: type:enhancement

#191 add MaxStageVideoChannelUsers to Guild
  discord/guild.go
Labels: type:enhancement

#251 Update permissions
  discord/permissions.go
Labels: type:enhancement, breaking, type:refactor
