Repository disgoorg/disgo, pull requests merged in 2024-12, with the labels that each got.

#403 Introduce QueryParams for use in rest endpoints
  rest/query_params.go
Labels: type:enhancement, t:rest

#402 Add GetEntitlement and new GetEntitlements param
  discord/entitlement.go
  rest/applications.go
  rest/rest_endpoints.go
Labels: type:enhancement, type:refactor, t:rest, breaking:minor

#406 fix: variables parsed after middleware runs
  handler/mux.go
Labels: type:bugfix, t:handler

#401 Add ConnectionTypeBluesky and Mastodon
  discord/connection.go
Labels: type:enhancement

#408 add nonce field to message struct
  discord/message.go
Labels: type:enhancement
