Repository disgoorg/disgo, pull requests merged in 2024-05, with the labels that each got.

#354 fix `VoiceRegion.ID` type
  discord/voice_region.go
Labels: type:bugfix

#304 Update connections
  discord/connection.go
Labels: type:enhancement, breaking:minor

#337 Add Banner field to UserUpdate
  discord/user.go
Labels: type:enhancement

#327 Add InviteType
  discord/invite.go
Labels: type:enhancement

#301 Add query params to channels.GetReactions
  discord/message.go
  rest/channels.go
Labels: type:enhancement, breaking:minor

#276 Add InteractionGuild
  discord/interaction.go
  discord/interaction_application_command.go
  discord/interaction_autocomplete.go
  discord/interaction_base.go
  discord/interaction_component.go
  discord/interaction_modal_submit.go
  discord/interaction_ping.go
Labels: type:enhancement

#258 Add guild onboarding + home audit log events
  discord/audit_log.go
Labels: type:enhancement

#360 Handle group DMs (channels)
  discord/channel.go
  discord/channels_raw.go
Labels: type:bugfix, type:enhancement

#361 fix stuck at mutex when reconnecting and error happens in Gateway.Open
  gateway/gateway_impl.go
Labels: type:bugfix

#256 Add member profiles automod rule
  discord/auto_moderation.go
Labels: type:enhancement
