Repository disgoorg/disgo, pull requests merged in 2024-03, with the labels that each got.

#333 otel support via context in command handler
  _examples/handler/example.go
  disgo.go
  go.mod
  go.sum
  handler/autocomplete.go
  handler/command.go
  handler/component.go
  handler/handler.go
  handler/interaction.go
  handler/middleware.go
  handler/middleware/defer.go
  handler/middleware/go.go
  handler/middleware/logger.go
  handler/middleware/print.go
  handler/modal.go
  handler/mux.go
  handler/router.go
Labels: type:enhancement, breaking:minor, t:handler

#343 Add TeamRole
  discord/application.go
Labels: type:enhancement, type:refactor, breaking:minor

#347 fix nil panic in message reaction add handler
  handlers/message_reaction_handler.go
Labels: type:bugfix

#339 allow multiple gateway closes without blocking forever
  gateway/gateway_impl.go
Labels: type:bugfix

#342 Add bulk ban endpoint
  discord/ban.go
  rest/guilds.go
  rest/rest_endpoints.go
Labels: type:enhancement
