Repository disgoorg/disgo, pull requests merged in 2024-08, with the labels that each got.

#375 Add get voice state endpoints
  rest/members.go
  rest/rest_endpoints.go
Labels: type:enhancement, t:rest

#376 Add get sticker pack endpoint
  rest/rest_endpoints.go
  rest/stickers.go
Labels: type:enhancement, t:rest

#378 Fix/audit log changes
  discord/audit_log.go
Labels: type:bugfix, breaking:minor

#380 Add pull request labeler
  .editorconfig
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Labels: type:enhancement

#374 Add poll result messages
  discord/embed.go
  discord/message.go
Labels: type:enhancement

#381 Implement "List Active Guild Threads"
  discord/guild.go
  rest/rest_endpoints.go
  rest/threads.go
Labels: type:enhancement, t:rest

#382 Feat/expose cache interfaces
  cache/caches.go
Labels: t:caching, type:enhancement

#282 Add GuildVoiceChannelEffectSend
  discord/soundboard.go
  events/guild_voice_events.go
  events/listener_adapter.go
  gateway/gateway_event_type.go
  gateway/gateway_events.go
  gateway/gateway_messages.go
  go.mod
  go.sum
  handlers/all_handlers.go
  handlers/voice_handlers.go
Labels: t:gateway, type:enhancement

#390 Add entry point commands + callback updates
  discord/application_command.go
  discord/application_command_create.go
  discord/application_command_raw.go
  discord/application_command_update.go
  discord/interaction_application_command.go
  discord/interaction_callback.go
  discord/interaction_response.go
  events/interaction_events.go
  handler/handler.go
  handler/interaction.go
  handler/mux.go
  handler/mux_test.go
  handler/router.go
  handler/testdata/command/entry_point_command.json
  rest/interactions.go
Labels: type:enhancement, t:rest, t:handler
