Repository disgoorg/disgo, pull requests merged in 2025-04, with the labels that each got.

#443 fix: populate GuildID to Member in interactions
  discord/interaction_application_command.go
  discord/interaction_autocomplete.go
  discord/interaction_component.go
  discord/interaction_modal_submit.go
Labels: type:bugfix

#426 components v2
  _examples/componentsv2/example.go
  _examples/componentsv2/thumbnail.jpg
  _examples/test/examplebot.go
  discord/component.go
  discord/component_iter.go
  discord/component_iter_test.go
  discord/interaction_component.go
  discord/interaction_modal_submit.go
  discord/message.go
  discord/message_create.go
  discord/message_create_builder.go
  discord/message_update.go
  discord/message_update_builder.go
  discord/modal_create.go
  discord/select_menu.go
  discord/webhook_message_create.go
  discord/webhook_message_create_builder.go
  discord/webhook_message_update.go
  discord/webhook_message_update_builder.go
Labels: type:enhancement, s:awaiting discord docs pr, breaking:major

#421 Remove unused errors
  discord/errors.go
Labels: breaking:major

#445 rest_client: propagate context to the http.Request
  rest/rest_client.go
Labels: t:rest

#446 add more tests to mux
  handler/mux_test.go
  handler/testdata/mux/button_foo_bar_component.json
  handler/testdata/mux/button_foo_component.json
Labels: t:handler

#428 implement new iterators in cache
  bot/member_chunking_manager.go
  cache/cache.go
  cache/caches.go
  cache/grouped_cache.go
  cache/set.go
  handlers/guild_emojis_update_handler.go
  handlers/guild_handlers.go
  handlers/guild_stickers_update_handler.go
  sharding/shard_manager.go
  sharding/shard_manager_config.go
  sharding/shard_manager_impl.go
  voice/manager.go
Labels: t:caching, t:sharding, t:voice, type:refactor, breaking:major

#321 make Gateway.Open wait until ready event is received
  gateway/gateway_events.go
  gateway/gateway_impl.go
  gateway/gateway_messages.go
Labels: t:gateway, type:enhancement, s:completed

#448 feat: new text display with format
  discord/component.go
  discord/component_iter_test.go
Labels: type:enhancement

#447 Use Go 1.22 features
  _examples/oauth2/example.go
  _examples/verified_roles/main.go
  bot/config.go
  bot/event_manager.go
  internal/insecurerandstr/random_str.go
  sharding/shard_manager.go
  sharding/shard_rate_limiter_impl_test.go
Labels: t:sharding
