Repository disgoorg/disgo, pull requests merged in 2025-03, with the labels that each got.

#425 Add IconURL and SplashURL to InviteGuild
  discord/invite.go
Labels: type:enhancement

#427 update go version to 1.24 in preperation for iterators & omitzero
  .github/workflows/go.yml
  _examples/application_commands/http/go.mod
  _examples/application_commands/http/go.sum
  go.mod
  go.sum
Labels: meta:dependencies, breaking:major

#432 Rename nonexistent fields in GuildCreate and GuildUpdate
  discord/guild.go
Labels: type:bugfix, breaking:major

#412 Add with_components param to webhook messages
  rest/webhooks.go
  webhook/webhook_client_impl.go
Labels: type:enhancement, type:refactor, t:rest, s:proposal, breaking:minor

#435 rest: Lock mutex in rateLimiterImpl.Close
  rest/rest_rate_limiter.go
Labels: t:rest

#424 sharding: Fix data race in shard rate limiter
  sharding/shard_rate_limiter.go
  sharding/shard_rate_limiter_config.go
  sharding/shard_rate_limiter_impl.go
  sharding/shard_rate_limiter_impl_test.go
Labels: t:sharding, type:bugfix
