Repository disgoorg/disgo, pull requests merged in 2025-10, with the labels that each got.

#478 remove `testify` dependency
  discord/icon_test.go
  discord/permissions_test.go
  gateway/identify_rate_limiter_test.go
  go.mod
  go.sum
  handler/mux_test.go
  webhook/webhook_test.go
Labels: t:gateway, t:handler

#477 Fix voice example for DCA0 audio
  _examples/voice/nico.dca
  _examples/voice/voice.go
Labels: type:bugfix

#476 feat: add transport compression
  _examples/proxy/example.go
  _examples/sharding/example.go
  gateway/gateway.go
  gateway/gateway_config.go
  gateway/gateway_transports.go
  go.mod
  go.sum
Labels: t:gateway, type:enhancement
