Repository disgoorg/disgo, pull requests merged in 2025-08, with the labels that each got.

#460 Add ResumeShard method and ShardState struct to manage shard session and sequence
  bot/event_manager.go
  gateway/gateway.go
  sharding/shard_manager.go
  sharding/shard_manager_config.go
  voice/conn.go
  voice/gateway.go
Labels: t:gateway, t:sharding, t:voice, type:enhancement

#464 feat: add support for new RATE_LIMIT gateway event
  events/gateway_ratelimited_events.go
  events/listener_adapter.go
  gateway/gateway_event_type.go
  gateway/gateway_events.go
  gateway/gateway_messages.go
Labels: t:gateway, type:enhancement

#466 fix: ensure open returns on invalid session
  gateway/gateway.go
  sharding/shard_manager.go
Labels: t:gateway, t:sharding, type:bugfix

#467 fix: implement identify rate limiting for gateway sharding
  _examples/proxy/example.go
  _examples/sharding/example.go
  bot/config.go
  gateway/gateway.go
  gateway/gateway_config.go
  gateway/identify_rate_limiter.go
  gateway/identify_rate_limiter_config.go
  gateway/identify_rate_limiter_noop.go
  gateway/identify_rate_limiter_test.go
  rest/rest_client.go
  rest/rest_rate_limiter.go
  rest/rest_rate_limiter_noop.go
  sharding/shard_manager.go
  sharding/shard_manager_config.go
  sharding/shard_rate_limiter.go
  sharding/shard_rate_limiter_config.go
  sharding/shard_rate_limiter_noop.go
Labels: t:gateway, t:ratelimits, t:sharding, type:bugfix, t:rest

#158 add support for selects in modals
  _examples/modals/example.go
  discord/component.go
  discord/component_iter_test.go
  discord/interaction_modal_submit.go
  discord/modal_create.go
  discord/select_menu.go
Labels: type:enhancement, s:waiting for discord
