Repository disgoorg/disgo, pull requests merged in 2025-06, with the labels that each got.

#458 Fix `Members.UpdateCurrentMember` to return `discord.Member`
  rest/members.go
Labels: t:rest

#457 Use new pin endpoints
  discord/message.go
  rest/channels.go
  rest/rest_endpoints.go
Labels: type:enhancement, t:rest

#453 Add role gradient colors
  discord/guild.go
  discord/role.go
Labels: type:enhancement

#278 Add guest invites
  discord/guild.go
  discord/invite.go
  discord/member.go
Labels: type:enhancement, breaking:minor
